body {
    margin: 0;
    padding: 0;

    font-family: 'Ubuntu Mono', sans-serif;
    font-size: 0.6cm;

    background-color: rgb(255, 251, 231);
    color: darkgray;
    text-emphasis-color: rgb(255, 196, 85);
    
}

.no-interact {
    /*Disable interactions with title text.*/
    pointer-events: none;
    user-select: none;
}