body {
    margin: 0;
    padding: 0;

    font-family: 'Quicksand', sans-serif;
    font-size: 0.6cm;

    background-color: rgb(243, 240, 234);
    color: darkgray;
    text-emphasis-color: rgb(255, 176, 72);
    
}

.no-interact {
    /*Disable interactions with title text.*/
    pointer-events: none;
    user-select: none;
}

h1, h2, h3, h4, h5, h6 {
    letter-spacing: 0.025em;
    font-family: 'Bree Serif', serif;
    pointer-events: none;
    user-select: none;
}

.boldkerning{
    letter-spacing: 0.05em;
}

li {
    font-family: 'Bree Serif', serif;
    color: rgb(255, 176, 72);
}