body {
    margin: 0;
    padding: 0;

    font-family: 'Ubuntu Mono', sans-serif;
    font-size: 0.6cm;

}

.splash {
    background:
    linear-gradient(0deg, rgba(244, 179, 80, 0.75), rgba(242, 120, 75, 0.75)), 
    url("content/splash_background.png");

    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;

    width:100vw;
    height:100vh;

    color: rgb(245, 245, 220);
    
}

.splash--split {
    display: flex;
    justify-content: center;
    align-items: center;

    width: 100%;
    height: 50%;
}

.splash__title {
    font-family: 'Bree Serif', serif;
    font-size:6vw;

    opacity: 0.0;
    transform: translate3d(0, -5vh, 0);

    animation-name: splashtitlefade;
    animation-delay: 0.5s;
    animation-duration: 1.5s;
    animation-fill-mode: forwards;
    /*transition: transform 1s ease-out, opacity 1.5s linear;*/
}

@keyframes splashtitlefade {
    60% {
        opacity: 1.0;
    }
    100% {
        transform:translate3d(0,0vh,0);
        opacity: 1.0;
    }
}

.splash__nav {
    display: inline-flex;
    justify-content: space-evenly;
    align-self: flex-start;

    width: 100%;
    height: 35%;
}

.splash__nav-item {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
}

.splash--footer {
    position:absolute;
    bottom: 0;
    right: 0;
    margin-bottom: 1vh;
    margin-right:1vw;
}

.splash--footer a {
    color: rgb(95, 90, 76);
}

.splash__nav--icon {
    font-size: 1cm;
    width: 1cm;
    height: 1cm;
    align-self: center;
    fill: rgb(245, 245, 220);

    user-select: none;

    overflow: visible;

    opacity: 0.5;
    transition: opacity 0.1s linear, transform 0.2s ease, scale 0.2s ease;
}

.splash__nav--icon.onHover {
    opacity: 1.0;
    transform: rotate(10deg);
    scale: 2.2;
}

.no-interact {
    /*Disable interactions with title text.*/
    pointer-events: none;
    user-select: none;
}